==
<div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-2 col-md-4 col-12 no-padding-left-and-right about" style="margin-right: 24px;">
                        <div class="footer-col-inner no-padding-left-and-right">
                            <h3>Administration</h3>
                            <ul>
                                <li><a href="about.html"><i class="fas fa-caret-right"></i>Organigrame</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Resultats et examens</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col-lg-2 col-md-4 col-12 no-padding-left-and-right about" style="margin-right: 24px;">
                        <div class="footer-col-inner no-padding-left-and-right" style="width: 109%;">
                            <h3>Enseignants</h3>
                            <ul>
                                <li><a href="about.html"><i class="fas fa-caret-right"></i>Infos aux Enseignants</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Activites de fin de trimestre</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col-lg-2 col-md-4 col-12 no-padding-left-and-right about">
                        <div class="footer-col-inner no-padding-left-and-right">
                            <h3>Vie Scolaire</h3>
                            <ul>
                                <li><a href="about.html"><i class="fas fa-caret-right"></i>Clubs d'activites</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Conseil Scolaire</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Galerie</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col-lg-2 col-md-4 col-12 no-padding-left-and-right about" style="margin-right: 24px;">
                        <div class="footer-col-inner no-padding-left-and-right">
                            <h3>Espace Elèves</h3>
                            <ul>
                                <li><a href="about.html"><i class="fas fa-caret-right"></i>Reglement intérieur</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Infos aux élèves</a></li>
                                <li><a href="contact.html"><i class="fas faa-caret-right"></i>Emplois du temps élève</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Devoirs de niveaux</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Bibliothèques</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-col col-lg-3 col-md-4 col-12 no-padding-left-and-right about">
                        <div class="footer-col-inner no-padding-left-and-right">
                            <h3>Parents d'élèves</h3>
                            <ul>
                                <li><a href="about.html"><i class="fas fa-caret-right"></i>Suivre mon élève</a></li>
                                <li><a href="contact.html"><i class="fas fa-caret-right"></i>Notes-Moyennes-Bulletins</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col col-lg-9 col-md-4 col-12 no-padding-left-and-right newsletter">
                        <div class="footer-col-inner no-padding-left-and-right">
                            <h3 style="margin-bottom: 2px;">Joignez-vous à notre liste d'envoi</h3>
                            <p style="margin-bottom: 6px;border-bottom-width: 1px;">Abonnez-vous pour recevoir notre lettre d'information</p>
                            <form class="subscribe-form">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter your email" />
                                </div>
                                <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                    <div class="footer-col col-lg-3 col-12 contact">
                        <div class="footer-col-inner">
                            <h3 style="margin-bottom: 12px;">Contactez-nous</h3>
                            <div class="row">
                                <!-- <p class="adr clearfix col-lg-12 col-md-4 col-12" style="margin-bottom: 4px;">
                                    <i class="fas fa-map-marker-alt float-left"></i>        
                                    <span class="adr-group float-left">       
                                        <span class="street-address">College Green</span><br>
                                        <span class="region">56 College Green Road</span><br>
                                        <span class="postal-code">BS16 AP18</span><br>
                                        <span class="country-name">UK</span>
                                    </span>
                                </p> -->
                                <p class="tel col-lg-12 col-md-4 col-12" style="margin-bottom: 4px;"><i class="fas fa-phone"></i>{{ parametrages.number_front }}</p>
                                <p class="email col-lg-12 col-md-4 col-12" style="margin-bottom: 14px;"><i class="fas fa-envelope"></i><a href="#">{{ parametrages.email_front }}</a></p>  
                            </div> 
                        </div>            
                    </div>  
                </div>   
            </div>        
        </div>
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-lg-6 col-12">Sinai 2019 @ <a href="http://www.sinai.com">www.sinai.com</a></small>
                    <ul class="social float-right col-lg-6 col-12">
                        <li><a href="#" ><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" ><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" ><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" ><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" ><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#" ><i class="fab fa-pinterest"></i></a></li>
                        <li><a href="#" ><i class="fab fa-skype"></i></a></li> 
                        <li class="row-end"><a href="#" ><i class="fas fa-rss"></i></a></li>
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->